* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 8px;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in;
  background-color: #001522;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.header {
  background-color: #8565ff;
  color: #fffdff;
  padding: 20px;
  padding-bottom: 30px;
  width: 80vw;
  min-height: 180px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  text-align: center;
  clip-path: ellipse(101% 81% at 40% 15%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: auto;
  width: 80vw;
}

.questions {
  text-align: center;
  padding: 20px;
  height: auto;
}

.answers {
  border: #3b4d5c solid 3px;
  font-size: 1.5rem;
  border-radius: 15px;
  color: #ffffff;
  padding: 12px;
  width: 80vw;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}

output {
  color: #b8a0ff;
  font-size: 1.1rem;
  padding: 10px;
}

.click:hover {
  cursor: pointer;
  background-color: #46ccca;
  transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
}

ul {
  list-style: none;
}

div {
  display: flex;
  width: 80vw;
  align-items: center;
  text-align: center;
}

h2 {
  margin-top: 5px;
}

span {
  color: #ffd900;
  font-size: 1.6rem;
}

.status {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 10px;
  flex: 1;
  color: #46ccca;
  font-weight: 700;
  margin-top: 5px;
}

.timer {
  text-align: right;
  margin-right: 10px;
  color: #ecda77;
}

.footer {
  margin-top: 1rem;
  text-align: center;
  color: white;
}
h2 {
  font-size: 1.5rem;
}
h2:first-letter,
li:first-letter {
  text-transform: uppercase;
}

.correct {
  color: green;
  background-color: rgb(103, 255, 103);
}

.btn {
  border: none;
  border-bottom: #3b4d5c solid 3px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  transition: background-color 0.25 linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: background-color 0.25 linear;
  -moz-transition: background-color 0.25 linear;
  -ms-transition: background-color 0.25 linear;
  -o-transition: background-color 0.25 linear;
}

.btn:hover {
  background-color: #3b4d5c;
  cursor: pointer;
  transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
}

button {
  border: none;
  text-decoration: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  font-size: inherit;
}

i {
  font-size: 1.8rem;
  margin-left: 0.8rem;
}

.wrong {
  color: #c1121f;
  background-color: rgb(255, 137, 137);
}

h3 {
  font-size: 1.2rem;
}

.quiz {
  align-items: center;
}

.container {
  /* padding-left: 10rem; */
  margin-top: 3rem;
  background-color: #012841;
  color: #ffffff;
  align-items: left;
  height: 60vh;
}

.results {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  font-size: 3rem;
  margin-bottom: 4rem;
}

p {
  /* width: 70%; */
  display: flex;
  align-items: center;
  margin-top: 1rem;
  /* margin-left: auto; */
}

.result-text {
  margin-left: 5rem;
  flex: 1.5;
  color: #cccccc;
  font-size: 1.5rem;
}

.return {
  margin-top: 5rem;
  background-color: #ffd900;
  font-size: 2rem;
  color: black;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;
  cursor: pointer;
}

button {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

button:hover {
  transform: scale(101%);
  -webkit-transform: scale(101%);
  -moz-transform: scale(101%);
  -ms-transform: scale(101%);
  -o-transform: scale(101%);
}

.resultOut {
  margin-left: 2rem;
  font-weight: 700;
  flex: 1;
}
.wrong-result {
  color: rgb(255, 137, 137);
}

.correct-result {
  color: rgb(103, 255, 103);
}

@media screen and (min-width: 320px) {
  * {
    font-size: 10px;
  }
  .header {
    min-height: 150px;
    overflow: auto;
  }
}

@media screen and (min-width: 375px) {
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  * {
    font-size: 14px;
  }
  /* .header {
    margin-top: 60px;
  } */
  .questions {
    margin-top: 20px;
  }
  div {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) {
  /* .header {
    margin-top: 100px;
  } */
  .section {
    width: 60vw;
  }
  .header {
    width: 60vw;
  }
  div {
    width: 60vw;
  }
  .answers {
    width: 60vw;
  }
}

@media screen and (min-width: 1300px) {
  /* .header {
    margin-top: 100px;
  } */
  body {
    transform: translateY(-50%, -40%);
  }
  .section {
    width: 40vw;
  }
  .container {
    width: 45vw;
  }

  .header {
    width: 40vw;
  }
  div {
    width: 40vw;
  }
  .answers {
    width: 40vw;
  }
}

@media screen and (max-width: 340px) {
  * {
    font-size: 8px;
  }
  .header {
    margin-top: 30px;
    height: 40vw;
  }
}
